APP_ENV=development
PORT=8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=18012000
DB_NAME=bank_data

SERVICE_TOKEN_PENDAFTARAN=ganti_dengan_token_acak
SERVICE_TOKEN_EMIS=ganti_dengan_token_acak
