CORE_APP_URL=http://localhost:8080/api/v1/internal
SERVICE_TOKEN_EMIS=b98b8c91786d8b312fe520831ce37a1c3e52bd04463db151916e7feabf21cc2a

AUTH_FILE=auth.json
BACKUP_FILE=progress_backup.json
OUTPUT_FILE=data_siswa_emis.xlsx

NAV_TIMEOUT_MS=45000
SELECTOR_TIMEOUT_MS=20000
DETAIL_WAIT_MS=1000
RETRY_WAIT_MS=1500
POST_BACK_WAIT_MS=500
PROBE_TIMEOUT_MS=10000
PROBE_RETRIES=1
WARMUP_TIMEOUT_MS=60000

PUSH_TO_CORE_APP=true
IMPORT_MODE=upsert
